/* Global Variables */
:root {
  --color-main: #5c6d70;
  --color-secondary: #e0ac9d;
  --color-background: #ffffff;
  --color-accent: #e88873;
  --color-text: #484a47;
  --color-text-secondary: #a37774;
  --color-shadow: #3d3d3d;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("../fonts/Lexend/Lexend-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 1000;
}

body {
  background-color: var(--color-background);
  font-family: "Lexend";
  font-size: 16px;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  /* style caret */
  caret-color: var(--color-accent);

  /* style scrollbar */
  scrollbar-color: var(--color-accent) var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:hover,
a:focus {
  color: var(--color-accent);
}

#menu {
  background-color: var(--color-main);
  width: 20%;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 10px;
  gap: 20px;

  overflow-y: scroll;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 10px;

  background-color: var(--color-background);
  border-radius: 5px;
}

.dropdown {
  display: grid;
  /* Auto fit content in one row */
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  background-color: var(--color-background);
  border-radius: 5px;

  height: 2.2em;
}

.dropdown a {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.dropdown a:hover,
.dropdown a:focus {
  background-color: var(--color-accent);
  color: var(--color-background);
  box-shadow: 0 0 10px var(--color-shadow);
  z-index: 2;
}

.dropdown a.active {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.dropdown a.active:hover,
.dropdown a.active:focus {
  background-color: var(--color-accent);
  color: var(--color-background);
  box-shadow: 0 0 10px var(--color-shadow);
}

.dropdown .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: var(--color-background);
  border-radius: 10px;
  margin: -5px;
  padding: 5px;
  z-index: 1;
}

.dropdown .category > a:not(:first-child) {
  display: none;
}

.dropdown .category:has(.active) > a {
  display: none;
}

.dropdown .category:has(.active) > a.active {
  display: flex;
}

.dropdown .category:hover > a,
.dropdown .category:focus > a,
.dropdown .category:has(:focus) > a {
  display: flex;
}

.dropdown .category:hover,
.dropdown .category:focus,
.dropdown .category:has(:focus) {
  box-shadow: 0 0 10px var(--color-shadow);
  z-index: 2;
}

/* if .category has only one child */
.dropdown .category:has(a:only-child) {
  box-shadow: none;
}

form > label {
  margin: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.search > input {
  width: calc(80% - 30px);
  height: calc(100% - 30px);
  border: 0;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  margin: 0;
}

.search > input:focus {
  outline: none;
  border: 0;
}

form > p {
  margin: 5px;
  font-size: 12px;
  color: var(--color-text-secondary);
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid var(--color-text);
  background-color: var(--color-background);
}

input:focus {
  outline: none;
  border: 2px solid var(--color-accent);
}

input::placeholder {
  color: var(--color-text-secondary);
}

button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: var(--color-secondary);
  color: var(--color-background);

  cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: 0 0 10px var(--color-shadow);
  background-color: var(--color-accent);
}

.form-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}

#content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  width: calc(max(80%, 200px) - 40px);
  height: min-content;
  padding: 20px;

  justify-items: center;
  align-items: center;

  overflow-y: scroll;
}

.no-media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: var(--color-text-secondary);
  text-align: center;
}

#content:has(.no-media) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
}

#content:has(.to-view) {
  display: flex;
  justify-content: left;
  flex-direction: row;
  overflow: scroll;
  overflow-y: hidden;
  align-items: center;
  padding-left: 60px;
  flex-wrap: nowrap;
  height: calc(100% - 40px);
  width: calc(100% - 80px);
}

#content:has(.single-view) {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.back {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 1em;
  width: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2vw;
  color: var(--color-background);
  background-color: var(--color-secondary);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  z-index: 100;
}

.back:hover,
.back:focus {
  box-shadow: 0 0 10px var(--color-shadow);
  background-color: var(--color-accent);
  color: var(--color-background);
}

#menu .delete {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  height: 1em;
  width: 1em;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2vw;
  color: var(--color-background);
  background-color: var(--color-secondary);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  z-index: 100;
}

#menu .delete:hover,
#menu .delete:focus {
  box-shadow: 0 0 10px var(--color-shadow);
  background-color: var(--color-accent);
  color: var(--color-background);
}

.media {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 8em;
  height: 12em;
  background-size: cover;
  border-radius: 0.75em;

  /* Center background image */
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: 0 0 2px var(--color-shadow);

  transition: box-shadow 0.5s ease-in-out;
}

.media.to-view,
.media.single-view {
  width: 66vh;
  height: 100vh;
  border-radius: calc(1 / 18 * 100vh);
}

.media.squared {
  height: 8em;
}

.media.squared.to-view,
.media.squared.single-view {
  height: 66vh;
}

.media.landscape {
  width: 12em;
  height: 7em;
}

.media.landscape.to-view,
.media.landscape.single-view {
  width: 100vh;
  height: 56vh;
}

.media:hover,
.media:focus,
.media:has(:focus) {
  box-shadow: 0 0 10px var(--color-shadow);
  z-index: 1;
}

.media > .no-image {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  opacity: 0;

  position: relative;
  padding: 0.75em;
  border-radius: 0.75em;
  top: 0;
  left: 0;
  width: calc(100% - 1.5em);
  height: calc(100% - 1.5em);

  transition: all 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  /* background gradient */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

/* Make content uninteractible */
.overlay * {
  pointer-events: none;
  /* Make uninteractible with touch */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.media.to-view > .overlay,
.media.single-view > .overlay {
  padding: calc(1 / 18 * 100vh);
  border-radius: calc(1 / 18 * 100vh);
  width: calc(100% - calc(2 / 18 * 100vh));
  height: calc(100% - calc(2 / 18 * 100vh));
}

.media:hover > .overlay,
.media:focus > .overlay,
.media:has(:focus) > .overlay {
  opacity: 1;
}

/* Make interactible again */
.media:focus > .overlay *,
.media:has(:focus) > .overlay * {
  pointer-events: auto;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  touch-action: auto;
}

.overlay > h4,
.overlay > h3,
.overlay > h2,
.overlay .material-icons {
  color: var(--color-background);
  text-shadow: 0 0 5px var(--color-shadow);
}

.overlay .material-icons:hover,
.overlay .material-icons:focus {
  color: var(--color-accent);
}

.overlay > h4 {
  margin: 0;
  padding: 2px;
  font-size: 0.6em;

  margin-top: 1em;
}

.media.squared h4,
.media.landscape h4 {
  margin-top: 0;
}

.media.squared h2,
.media.landscape h2 {
  -webkit-line-clamp: 1;
}

.media.to-view > .overlay > h4,
.media.single-view > .overlay > h4 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1.2 / 18 * 100vh);
}

.overlay > h3 {
  margin: 0;
  padding: 2px;
  font-size: 0.75em;

  /* hide overflow with ... */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.media.to-view > .overlay > h3,
.media.single-view > .overlay > h3 {
  font-size: calc(1.5 / 18 * 100vh);
}

.overlay > h2 {
  margin: 0;
  padding: 2px;
  font-size: 1.2em;

  /* max 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media.to-view > .overlay > h2,
.media.single-view > .overlay > h2 {
  font-size: calc(2 / 18 * 100vh);
}

.media.editing {
  box-shadow: 0 0 5px 5px var(--color-accent);
}

.overlay > .edit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
}

.overlay > .delete {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
}

.overlay > .move_left {
  position: absolute;
  left: -40%;
  bottom: 50%;
  transform: translateY(50%);
  padding: 0.5em;
}

/* hide on first element */
.media:first-child > .overlay > .move_left {
  display: none;
}

.overlay > .move_right {
  position: absolute;
  right: -40%;
  bottom: 50%;
  transform: translateY(50%);
  padding: 0.5em;
}

/* hide on last element */
.media:last-child > .overlay > .move_right {
  display: none;
}

.overlay > .move_right > .material-icons,
.overlay > .move_left > .material-icons {
  font-size: 5em;
}

.overlay > .link {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}

.tut-arrow {
  position: relative;
  width: 100%;
  height: 100%;
}

.tut-arrow > i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  color: var(--color-accent);
  z-index: 1;
}

.tut-arrow > p {
  color: var(--color-accent);
  font-size: 1.5em;
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 90%;
  text-align: center;
}

#go-to-site {
  position: absolute;
  bottom: 50%;
  left: 0;
  padding: 0.75vw;
  margin: 0.5vw;
  border-radius: 5px;
  border: 0;
  background-color: var(--color-secondary);
  color: var(--color-background);

  cursor: pointer;

  transform: translateY(50%);
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  transition: all 0.5s ease-in-out;
}

#go-to-site:hover::after,
#go-to-site:focus::after {
  content: "visit book-list";
}

#go-to-site:hover,
#go-to-site:focus {
  box-shadow: 0 0 10px var(--color-shadow);
  padding-right: 1vw;
}

form.sort > .dropdown {
  margin: -10px;
}

form.sort > .dropdown .material-icons {
  font-size: 1.2em;
}

/* Mobile support */

@media (max-width: 1200px) and (orientation: portrait) {
  :root {
    --unit-size: calc(0.5 / 18 * 100vw);
  }

  body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  #menu {
    width: calc(100% - var(--unit-size));
    padding: calc(0.5 * var(--unit-size));
    gap: calc(0.5 * var(--unit-size));
    flex: 0 0 auto;
    overflow: hidden;
  }

  #menu hr {
    display: none;
  }

  #content {
    width: calc(100% - var(--unit-size));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(0.5 * var(--unit-size));
    padding: calc(0.5 * var(--unit-size));
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: calc(2.5 * var(--unit-size));
    flex: 1 1 auto;
  }

  .media {
    width: calc(50vw - var(--unit-size));
    height: calc(24 * var(--unit-size));
    border-radius: var(--unit-size);
  }

  .media.squared {
    height: calc(50vw - var(--unit-size));
  }

  .media.landscape {
    height: calc(9 * var(--unit-size));
    width: calc(50vw - var(--unit-size));
  }

  .media > .overlay {
    font-size: var(--unit-size);
    border-radius: var(--unit-size);
  }

  .media .material-icons {
    font-size: calc(3 * var(--unit-size));
  }

  .media > .overlay > .move_left {
    top: 50%;
    left: -10%;
  }

  .media > .overlay > .move_right {
    top: 50%;
    right: -10%;
  }

  #menu > .back,
  #menu > .delete {
    width: calc(2 * var(--unit-size));
    height: calc(2 * var(--unit-size));
    border-radius: calc(0.75 * var(--unit-size));
    margin: calc(0.25 * var(--unit-size));
    padding: calc(0.25 * var(--unit-size));
  }

  #menu > .back > .material-icons,
  #menu > .delete > .material-icons {
    font-size: calc(2 * var(--unit-size));
  }

  /* Change all the border-radius */
  form {
    padding: calc(0.5 * var(--unit-size));
    gap: calc(0.5 * var(--unit-size));
    border-radius: calc(0.5 * var(--unit-size));
  }

  a {
    border-radius: calc(0.5 * var(--unit-size));
  }

  form > .input {
    border-radius: calc(0.5 * var(--unit-size));
  }

  form.sort > .dropdown {
    margin: calc(-0.5 * var(--unit-size));
  }

  .dropdown {
    border-radius: calc(0.5 * var(--unit-size));
    height: calc(2 * var(--unit-size));
    gap: calc(0.5 * var(--unit-size));
    padding: calc(0.5 * var(--unit-size));
  }

  .dropdown a {
    border-radius: calc(0.5 * var(--unit-size));
    height: calc(1.5 * var(--unit-size));
  }

  form button {
    border-radius: calc(0.5 * var(--unit-size));
  }

  /* Change all the font-size */
  form > input {
    font-size: calc(1 * var(--unit-size));
  }

  form > p {
    font-size: calc(0.8 * var(--unit-size));
  }

  form > label {
    font-size: calc(1 * var(--unit-size));
  }

  form .material-icons {
    font-size: calc(2 * var(--unit-size));
  }

  .dropdown .material-icons {
    font-size: calc(1.5 * var(--unit-size));
  }

  form.sort > .dropdown .material-icons {
    font-size: calc(1.2 * var(--unit-size));
  }

  form select {
    font-size: calc(1 * var(--unit-size));
  }

  .media > .overlay > h2 {
    font-size: calc(2 * var(--unit-size));
  }

  .media > .overlay > h3 {
    font-size: calc(1.5 * var(--unit-size));
  }

  .media > .overlay > h4 {
    font-size: calc(1 * var(--unit-size));
  }
}
